.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* flex: 1 makes the section take up the available space */
main, section {
    flex: 1;
}

section {
    max-width: 800px;
    padding: 50px;
    margin: auto;
}

input[type="text"], textarea, button.submit {
    display:block;
    border-radius: 10px;
    font-size:125%;
    border: 1px solid green;
    padding: 10px;
    margin: 20px;
}
input[type="checkbox"] {
    margin: 20px;

}
textarea {
    width: 100%;
}
/* some of my labels are just there for accessibility
 * (I'm putting visible labels inside the inputs with js)
 */
label.hidden {
    display: none;
}
