.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* flex: 1 makes the section take up the available space */
main, section {
    flex: 1;
}

section {
    max-width: 800px;
    padding: 50px;
    margin: auto;
}